<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proj499">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_applogo"
        android:label="Blood Bank"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".FeaturesTechnicianActivity"
            android:label="สำหรับเจ้าหน้าที่ แพทย์และพยาบาล"/>
        <activity android:name=".About"
            android:label="About"/>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".TechnicianAddNewsActivity"
            android:label="เพิ่มข่าวและประชาสัมพันธ์" />
        <activity
            android:name=".TechnicianActivity"
            android:label="สำหรับเจ้าหน้าที่" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".TechnicianAddAccountActivity"
            android:label="เพิ่มข้อมูลผู้ใช้งาน" />
        <activity
            android:name=".History"
            android:label="ประวัติการบริจาค" />
        <activity
            android:name=".bloodinformation"
            android:label="@string/title_activity_bloodinformation" />
        <activity
            android:name=".FeaturesActivity"
            android:label="Blood Bank" />
        <activity
            android:name=".Queue"
            android:label="คิวการบริจาคโลหิต" />
        <activity
            android:name=".blooddonation"
            android:label="Blood Donation" />
        <activity
            android:name=".Signup"
            android:label="สมัครสมาชิก" />
        <activity
            android:name=".Profile"
            android:label="โปรไฟล์" />
        <activity
            android:name=".ManageDataTechnician"
            android:label="สำหรับแพทย์ พยาบาลและเจ้าหน้าที่" />
        <activity
            android:name=".EditBloodData"
            android:label="แก้ไขข้อมูลผู้บริจาคโลหิต" />
        <activity
            android:name=".MedicalActivity"
            android:label="สำหรับแพทย์และพยาบาล" />
        <activity
            android:name=".News"
            android:label="ประชาสัมพันธ์" />
        <activity
            android:name=".Technician_Account"
            android:label="สำหรับจัดการผู้ใช้งาน" />
        <activity
            android:name=".Technician_News"
            android:label="สำหรับจัดการประชาสัมพันธ์" />
        <activity
            android:name=".TechnicianAddMedicalActivity"
            android:label="เพิ่มข้อมูล แพทย์ พยาบาล และเจ้าหน้าที่" />
        <activity
            android:name=".TechnicianDataAccountActivity"
            android:label="เพิ่มข้อมูลผู้ใช้งาน" />
        <activity
            android:name=".UserProfile"
            android:label="โปรไฟล์" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>